<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/common/header :: common-head"/>
<meta title="description" content="Trang quản trị SmartLott"/>
<!--<meta id="_csrf" title="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" title="_csrf_header" th:content="${_csrf.headerName}"/>-->
<body>

<div class="page-container">
    <!--INCLUDE SIDEBAR-->
    <div th:replace="admin/common/navbar :: common-sidebar"></div>

    <div class="main-content">

        <div th:replace="admin/common/header :: common-header"></div>

        <hr/>

        <div th:replace="admin/incomeComponent/script :: breadcrumb"></div>

        <!--Message area-->
        <div class="row" id="messageArea">
        </div>
        <form role="form" id="frmDetailIncome" method="post" class="form-groups-bordered">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label for="id" th:text="#{admin.income.component.id.text}">ID</label>
                            <input type="text" id="id" name="id" class="form-control" readonly="readonly"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label for="name" th:text="#{admin.income.component.name.text}">Names</label>
                            <input type="text" id="name" name="name" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label for="description"
                                   th:text="#{admin.income.component.description.text}">Description</label>
                            <input type="text" id="description" name="description" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label for="value" th:text="#{admin.income.component.value.text}">Value</label>
                            <input type="text" name="value" id="value" class="form-control" th:value="0"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label for="reward"
                                   th:text="#{admin.income.component.reward.text}">Reward</label>
                            <select id="reward" name="reward.id" class="form-control reward" fields="id">
                                <option th:value="-1" th:text="#{admin.income.component.reward.select.text}">Reward
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label for="enabled"
                                   th:text="#{admin.income.component.status.text}">Status</label>
                            <div>
                                <label><input type="radio" id="enabled" name="enabled" value="true" checked="checked"/>
                                    Yes</label>
                                <label><input type="radio" id="enabled" name="enabled" value="false"/>
                                    No</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" id="extraRow">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group align-right handleButton">

                </div>
            </div>
        </form>

        <div class="clearfix"></div>
        <!-- Footer -->
        <footer class="main">
            &copy; 2014 <strong>Neon</strong> Admin Theme by <a href="http://laborator.co" target="_blank">Laborator</a>
        </footer>
    </div>

</div>
<div th:replace="admin/common/header :: common-before-scripts"></div>
<script th:src="@{/js/formValidation.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/admin/js/fileinput.js}"></script>
<div th:include="/admin/incomeComponent/script :: detail-load"></div>
<script th:inline="javascript" type="application/javascript">
    jQuery(document).ready(function ($) {

        var urlInvPackageMN = /*[[@{/stl-admin/income-component/all}]]*/;
        var msgErrorName =/*[[#{admin.income.component.name.not.null.text}]]*/;
        var msgErrorValue =/*[[#{admin.income.component.value.greater.than.text}]]*/;
        var msgNotNull =/*[[#{admin.income.component.input.not.null.text}]]*/;
        var msgConfirmDelete =/*[[#{admin.income.component.confirm.delete.text}]]*/;
        $('#frmDetailIncome').formValidation({
            framework: 'bootstrap',
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                name: {
                    validators: {
                        notEmpty: {
                            message: msgErrorName
                        }
                    }
                },
                value: {
                    validators: {
                        notEmpty: {
                            message: msgNotNull
                        },
                        greaterThan: {
                            value: 0,
                            message: msgErrorValue
                        }
                    }
                }
            }
        }).on('success.form.fv', function (e) {
            e.preventDefault();

            var data = assignDataFromToObj('#frmDetailIncome');
            console.log(data);
            var urlSaveReward = /*[[@{/api/income-component/{id}(id=${incomeComponentId})}]]*/;
            var type = (id == null) ? 'POST' : 'PUT';
            saveOrupdateData(urlSaveReward, type, data, saveSuccess, showErrors);
        });

        $(document).on('click', '#btnSave', function () {
            $('#frmDetailIncome').submit();
        });


        $(document).on('click', '#btnDelete', function () {
            if (confirm(msgConfirmDelete)) {
                var urlDelete = /*[[@{/api/income-component/{id}(id=${incomeComponentId})}]]*/;
                saveOrupdateData(urlDelete, 'DELETE', null, showDeleteSuccessPackage, showErrors);
            }
        })

        function showDeleteSuccessPackage(data) {
            showMessages(data);
            setTimeout(function () {
                window.location.href = urlInvPackageMN;
            }, 500);
        }

        function saveSuccess(data) {
            console.log(data);
            if (data.messages != null)
                showMessages(data.messages);
            setTimeout(function () {
                window.location.href = urlInvPackageMN;
            }, 500);
        }
    });
</script>
</body>
</html>