<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/common/header :: common-head"/>
<meta title="description" content="Trang quản trị SmartLott"/>
<!--<meta id="_csrf" title="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" title="_csrf_header" th:content="${_csrf.headerName}"/>-->
<body>
<div class="page-container">
    <!--INCLUDE SIDEBAR-->
    <div th:replace="admin/common/navbar :: common-sidebar"></div>

    <div class="main-content">

        <div th:replace="admin/common/header :: common-header"></div>

        <hr/>

        <ol class="breadcrumb bc-3">
            <li>
                <a th:href="@{/stl-admin}"><i class="entypo-home"></i>Dashboard</a>
            </li>
            <li class="active">
                <strong th:text="#{admin.income.component.breadcrumb.text}"></strong>
            </li>
        </ol>
        <div class="col-md-6">
            <h2 th:text="#{admin.income.component.breadcrumb.text}"></h2>
        </div>
        <!--Message area-->
        <div class="row" id="messageArea"></div>

        <div class="row">
            <div class="form-group col-md-12 col-xs-12">

            </div>
        </div>
        <div class="row">
            <table class="table responsive" id="tableContent">
                <thead>
                <tr class="dataFields">
                    <th><input type="checkbox" id="selectAll" attr="tableContent" name="selectAll" th:value="1"/>
                    </th>
                    <th th:text="#{admin.income.component.id.text}" fields="id">ID</th>
                    <th th:text="#{admin.income.component.name.text}" fields="name">Name</th>
                    <th th:text="#{admin.income.component.description.text}" fields="description">Description</th>
                    <th th:text="#{admin.income.component.value.text}" fields="value">Value</th>
                    <th th:text="#{admin.income.component.status.text}" fields="enabled">Status</th>
                    <th th:text="#{admin.income.component.reward.text}" fields="reward.name">Reward</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="navigaion">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                    </ul>
                </nav>
            </div>
            <a th:href="@{/stl-admin/income-component/add}" class="btn btn-primary">
                <i class="entypo-plus"></i>
                <span th:text="#{admin.income.component.add.text}">Add</span>
            </a>
        </div>

        <!-- Footer -->
        <footer class="main">
            &copy; 2014 <strong>Neon</strong> Admin Theme by <a href="http://laborator.co"
                                                                target="_blank">Laborator</a>
        </footer>
    </div>

</div>
<div th:replace="admin/common/header :: common-before-scripts"></div>
<script th:src="@{/sources/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
<script th:inline="javascript" type="text/javascript">
    //<![CDATA[
    jQuery(document).ready(function ($) {
        var urlApiAll = /*[[@{/api/income-component/all(sort=id,name.dir=ASC, size=15, page=)}]]*/;

        $('#filterPost').submit(function (e) {
            e.preventDefault();
            doSubmitPost(urlPostCl, null, $('#name').val());
        })

        pagination(urlApiAll, appendData);

    });


    function appendData(data) {

        var urlDetail = /*[[@{/stl-admin/income-component/edit/}]]*/;
        fieldData(data, urlDetail);
    }
    //]]>
</script>
</body>
</html>