<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/common/header :: common-head"/>
<meta title="description" content="Trang quản trị SmartLott"/>
<!--<meta id="_csrf" title="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" title="_csrf_header" th:content="${_csrf.headerName}"/>-->
<body>
<div class="page-container">
    <!--INCLUDE SIDEBAR-->
    <div th:replace="admin/common/navbar :: common-sidebar"></div>

    <div class="main-content">

        <div th:replace="admin/common/header :: common-header"></div>

        <hr/>

        <ol class="breadcrumb bc-3">
            <li>
                <a th:href="@{/stl-admin}"><i class="entypo-home"></i>Dashboard</a>
            </li>
            <li>
                <a th:href="@{/stl-admin/post}">Post</a>
            </li>
            <li>
                <a th:href="@{/stl-admin/post/category}">Category</a>
            </li>
            <li class="active">
                <strong th:if="${categoryId == null and typeAction!='delete'}">Add Category</strong>
                <strong th:if="${categoryId != null and typeAction!='delete'}">Edit Category</strong>
                <strong th:if="${categoryId != null and typeAction=='delete'}">Delete Category</strong>
            </li>

        </ol>

        <!--Message area-->
        <div class="row" id="messageArea"></div>

        <h2>
            <strong th:if="${categoryId == null and typeAction!='delete'}">Add Category</strong>
            <strong th:if="${categoryId != null and typeAction!='delete'}">Edit Category</strong>
            <strong th:if="${categoryId != null and typeAction=='delete'}">Delete Category</strong>
        </h2>

        <div class="col-md-12">
            <form role="form" id="frmAddCategory" action="/api/post/category" method="post" class="form-horizontal form-groups-bordered">
                <div class="form-group">
                    <label for="title" class="col-sm-3 control-label" th:text="#{admin.post.category.title.text}"></label>
                    <div class="col-sm-6">
                        <input type="text" name="title" class="form-control" id="title" placeholder="Title"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="title" class="col-sm-3 control-label" th:text="#{admin.post.description.category.text}"></label>
                    <div class="col-sm-6">
                        <textarea name="description" class="form-control" id="description" placeholder="Description"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="a" class="col-sm-3 control-label"></label>
                    <div class="col-sm-5">
                        <button th:if="${typeAction!='delete'}" type="submit" class="btn btn-success">Lưu</button>
                        <button th:if="${typeAction=='delete'}" type="submit" class="btn btn-success" th:text="#{admin.button.delete.text}"></button>
                        <button type="button" class="btn btn-primary">Bỏ qua</button>
                    </div>
                </div>
                <input type="hidden" name="id" class="form-control" id="id" th:value="${categoryId}"/>
            </form>
        </div>

        <!-- Footer -->
        <footer class="main">
            &copy; 2014 <strong>Neon</strong> Admin Theme by <a href="http://laborator.co" target="_blank">Laborator</a>
        </footer>
    </div>

</div>
<div th:replace="admin/common/header :: common-before-scripts"></div>
<script th:src="@{/js/formValidation.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:inline="javascript" type="text/javascript">
    jQuery(document).ready(function ($) {
        var categoryId = /*[[${categoryId}]]*/;
        var typeAction = /*[[${typeAction}]]*/;
        var msgErrorTitle = /*[[#{admin.post.category.error.title.not.empty.text}]]*/;

        $('#frmAddCategory').formValidation({
            framework: 'bootstrap',
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                title: {
                    validators: {
                        notEmpty: {
                            message: msgErrorTitle
                        }
                    }
                },

            }
        }).on('success.form.fv',function (e) {
            e.preventDefault();

            var urlAddCategory = /*[[@{/api/category}]]*/;
            var type='POST';
            if(categoryId != null){
                urlAddCategory+='/'+categoryId;
                type='PUT';
            }
            if(typeAction=='delete')
                type = 'DELETE';


            var data = {};
            var idCategory = $('#id').val();
            if( idCategory != null)
                data['id'] = idCategory;
            data['title'] = $('#title').val();
            data['description'] = $('#description').val();

            //save or update
            saveOrupdateData(urlAddCategory, type, data, showSuccessCategory);
        });

        if(categoryId != null){
            var urlGetDataCategory = /*[[@{/api/category/{categoryId}(categoryId=${categoryId})}]]*/;
            getData(urlGetDataCategory,showDataToForm);
        }

        if(typeAction=='delete'){
            var message = /*[[#{admin.post.category.msg.delete.text}]]*/;
            $('#messageArea').html(createMessage(message,'alert-warning',false));
        }

    });

    /**
     * Show message save successfully and redirect to category index.
     * Show message given by data return after create or update category
     *
     * @param data
     */
    function showSuccessCategory(data) {
        showMessages(data);
        //auto redirect to category index
        setTimeout(function () {
            var urlCategory = /*[[@{/stl-admin/post/category}]]*/;
            window.location.href = urlCategory;
        },1000);
    }
</script>
</body>
</html>