<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/common/header :: common-head"/>
<meta title="description" content="Trang quản trị SmartLott"/>
<!--<meta id="_csrf" title="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" title="_csrf_header" th:content="${_csrf.headerName}"/>-->
<body>
<div class="page-container">
    <!--INCLUDE SIDEBAR-->
    <div th:replace="admin/common/navbar :: common-sidebar"></div>

    <div class="main-content">

        <div th:replace="admin/common/header :: common-header"></div>

        <hr/>

        <ol class="breadcrumb bc-3">
            <li>
                <a th:href="@{/stl-admin}"><i class="entypo-home"></i>Dashboard</a>
            </li>
            <li class="active">
                <strong>Member management</strong>
            </li>
        </ol>

        <h2>Member management</h2>
        <!--Message area-->
        <div class="row" id="messageArea"></div>
        <div class="row">
            <div class="form-group col-md-12 col-xs-12">
                <form id="actionDate" method="GET">
                    <div class="form-group col-md-2">
                        <div class="input-group date" data-provide="datepicker" id="filterFromFormat">
                            <input type="text" id="filterFrom" name="filterFrom" class="form-control"/>
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <div class="input-group date" data-provide="datepicker" id="filterToFormat">
                            <input type="text" id="filterTo" name="filterTo" class="form-control"/>
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-2 col-xs-12">
                        <select id="status" name="status" class="form-control" th:value="${status}">
                            <option value="-1">Status</option>
                            <option value="1">Pending</option>
                            <option value="2">Success</option>
                            <option value="3">Cancel</option>
                        </select>
                    </div>
                    <div class="form-group col-md-1 col-xs-12">
                        <button type="submit" class="form-control btn btn-primary">Do</button>
                    </div>
                    <div class="form-group col-md-3 col-xs-12 navbar-right">
                        <input type="text" id="query" name="query" class="form-control" placeholder="Search member"
                               th:value="${query}"/>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <table class="table responsive" id="tableContent">
                <thead>
                <tr class="dataFields">
                    <th><input type="checkbox" id="selectAll" attr="tableContent" name="selectAll" th:value="1"/>
                    </th>
                    <th th:text="#{admin.transaction.id.text}" fields="id">Id</th>
                    <th th:text="#{admin.transaction.type.text}" fields="transactionType.name">Type</th>
                    <th th:text="#{admin.transaction.amount.text}" fields="amount">Amount</th>
                    <th th:text="#{admin.transaction.created.text}" fields="createdDate">Created</th>
                    <th th:text="#{admin.transaction.status.text}" fields="transactionStatus.name">Status</th>
                    <th th:text="#{admin.transaction.of.user.text}" fields="ofUser.username">Of user</th>
                    <th th:text="#{admin.transaction.handle.by.text}" fields="handleBy.username">Handle by</th>
                    <th th:text="#{admin.transaction.handle.date.text}" fields="handleDate">Handle date</th>
                    <th>#</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="navigaion">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                    </ul>
                </nav>
            </div>
            <a th:href="@{/stl-admin/member/add}" class="btn btn-primary">
                <i class="entypo-plus"></i>
                <span th:text="#{admin.member.button.add.text}">Add</span>
            </a>
        </div>

        <!-- Footer -->
        <footer class="main">
            &copy; 2014 <strong>Neon</strong> Admin Theme by <a href="http://laborator.co"
                                                                target="_blank">Laborator</a>
        </footer>
    </div>

</div>
<div th:replace="admin/common/header :: common-before-scripts"></div>
<script th:src="@{/sources/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
<script th:inline="javascript" type="text/javascript">
    //<![CDATA[
    jQuery(document).ready(function ($) {
        var urlApiAll = /*[[@{/api/transaction/all(size=10, page=)}]]*/;
        var urlItem = /*[[@{/stl-admin/transaction/all}]]*/;
        //set value to category selectbox
        var status = /*[[${status}]]*/;
        var query = /*[[${query}]]*/;

        //filter by categories
        $('#categories').change(function () {
            doSubmitPost(urlPostCl, $('#categories').val(), $('#title').val());
        });

        $('#filterPost').submit(function (e) {
            e.preventDefault();
            doSubmitPost(urlPostCl, $('#categories').val(), $('#title').val());
        })

        pagination(urlApiAll, appendData);

        $('#filterFromFormat').datepicker({
            format: 'dd-mm-yyyy',
            startDate: '-2y',
            endDate: '0y',
            startView: '-0y',
            autoclose: true,
        });

        $('#filterToFormat').datepicker({
            format: 'dd-mm-yyyy',
            startDate: '-2y',
            endDate: '0y',
            startView: '-0y',
            autoclose: true,
        });

        $('#actionDate').submit(function (e) {
            e.preventDefault();
            var url = /*[[@{/api/transaction/all}]]*/;
            var from = encodeURI($('#filterFrom').val());
            var to = encodeURI($('#filterTo').val());
            var status = $('#status').val();
            if (from == '')
                from = '01-01-1970';

            url += '?fromDate=' + from;
            if (to != '')
                url += '&toDate=' + to;


            if (status > -1)
                url += '&status=' + status;

            url += '&size=10';
            url += '&page=';

            pagination(url, appendData);
        });
    });

    function appendData(data) {
        var dataFields = $('#tableContent .dataFields').find('th[fields]');

        var area = $('#tableContent tbody');
        area.html('');
        $.each(data.content, function (i, item) {
            var _str = '<tr id="row_' + item.id + '">';
            var urlDetail = /*[[@{/stl-admin/transaction/}]]*/;
            urlDetail += item.id;

            _str += '<td>';
            _str += '<input type="checkbox" class="_id" name="_id" value="' + item.id + '"/>';
            _str += '</td>';

            dataFields.each(function (index, col) {
                var field = $(col).attr('fields');
                var row = '';
                if ((typeof field !== typeof undefined) && field !== false) {

                    var fields = field.split('.');

                    if (fields.length > 1 && $.isPlainObject(item)) {
                        var obj = null;
                        $.each(fields, function (i, fed) {

                            if (i == 0)
                                obj = item[fed];
                            else if (obj != null)
                                obj = obj[fed];
                        })
                        row = (obj != null) ? obj : '';
                    } else row = (item[fields] != null ) ? item[fields] : '';
                }

                _str += '<td>';
                _str += '<a href="' + urlDetail + '" title="edit">' + row + '</a>';
                _str += '</td>';
            });

            _str += '<td>';
            _str += '<a href="' + urlDetail + '" title="edit"><i class="fa fa-pencil-square" aria-hidden="true"></i></a> ';
            _str += '</td>';

            _str += '</tr>';
            area.append(_str);

            showPagination(data);
        });
    }
    //]]>
</script>
</body>
</html>