<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="common-tile">
    <div class="row">
        <div class="col-sm-3 col-xs-6">

            <div class="tile-stats tile-red">
                <div class="icon"><i class="entypo-users"></i></div>
                <div class="num" data-start="0" data-end="0" data-postfix="" data-duration="0" data-delay="0"
                     id="memberWidget">0
                </div>

                <h3>Registered users</h3>
                <p>so far in our blog, and our website.</p>
            </div>

        </div>

        <div class="col-sm-3 col-xs-6">

            <div class="tile-stats tile-green">
                <div class="icon"><i class="entypo-chart-bar"></i></div>
                <div class="num" data-start="0" data-end="135" data-postfix="" data-duration="1500" data-delay="0">0
                </div>

                <h3>Daily Visitors</h3>
                <p>this is the average value.</p>
            </div>

        </div>

        <div class="col-sm-3 col-xs-6">

            <div class="tile-stats tile-aqua">
                <div class="icon"><i class="entypo-mail"></i></div>
                <div class="num" data-start="0" data-end="10" data-postfix="10" data-duration="1500" data-delay="1200"
                     id="requestWidget">0
                </div>

                <h3>New Request</h3>
                <p>request is pending.</p>
            </div>

        </div>

        <div class="col-sm-3 col-xs-6">

            <div class="tile-stats tile-blue">
                <div class="icon"><i class="entypo-rss"></i></div>
                <div class="num" data-start="0" data-end="0" data-postfix="0" data-duration="0" data-delay="0">
                    <ul id="count-down-time"></ul>
                </div>

                <h3>Countdown</h3>
                <p>Next term dialing</p>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">Latest Updated Profiles</div>

                <div class="panel-options">
                    <a href="#sample-modal" data-toggle="modal" data-target="#sample-modal-dialog-1" class="bg"><i
                            class="entypo-cog"></i></a>
                    <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                    <a href="#" data-rel="reload"><i class="entypo-arrows-ccw"></i></a>
                    <a href="#" data-rel="close"><i class="entypo-cancel"></i></a>
                </div>
            </div>

            <div class="panel-body with-table">
                <table class="table table-bordered table-responsive" id="tableContent">
                    <thead>
                    <tr class="dataFields">
                        <th>#</th>
                        <th fields="id">#</th>
                        <th fields="incomeComponent.description">Name</th>
                        <th fields="value">Income</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script th:src="@{/js/moment.min.js}"></script>
    <script th:src="@{/sources/moment-timezone.js}"></script>
    <script th:src="@{/sources/jquery.countdown-2.2.0/jquery.countdown.min.js}"></script>
    <script th:inline="javascript" type="text/javascript">
        //<![CDATA[
        jQuery(document).ready(function ($) {
            var urlPendingRequest = /*[[@{/api/request/pending}]]*/;
            var urlTotalMember = /*[[@{/api/member/total}]]*/;
            var urlNewMemberInTerm = /*[[@{/api/member/new-member-in-term}]]*/;
            var urlOpeningLotteryDialing = /*[[@{/api/lottery-dialing/opening}]]*/;
            var urlLD = /*[[@{/api/lottery-dialing/opening}]]*/;
            var urlIncomeInTerm = /*[[@{/api/dialing-income-comp/income-in-term}]]*/;

            getData(urlPendingRequest, showPendingRequest);
            getData(urlTotalMember, showTotalMember);
            getData(urlNewMemberInTerm, showNewMemberInTerm);
            getData(urlOpeningLotteryDialing, showOpeningLotteryDialing);
            getData(urlLD, showCountDownTimerLotteryDialing);
            getData(urlIncomeInTerm, showIncomeInTerm);
        });

        function showPendingRequest(data) {
            $('#requestWidget').html(10);
        }

        function showTotalMember(data) {
            $('#memberWidget').html(data);
        }

        function showNewMemberInTerm(data) {
            setTimeout(function () {
                $('#memberWidget').append("/" + data);
            }, 500);
        }

        function showOpeningLotteryDialing(data) {
            console.log(data);

        }

        function showIncomeInTerm(data) {
            console.log(data);
            fieldData(data, null);

        }
        //]]>
    </script>
</div>

</body>
</html>