<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/common/header :: common-head"/>
<meta title="description" content="Trang quản trị SmartLott"/>
<!--<meta id="_csrf" title="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" title="_csrf_header" th:content="${_csrf.headerName}"/>-->
<body>
<div class="page-container">
    <!--INCLUDE SIDEBAR-->
    <div th:replace="admin/common/navbar :: common-sidebar"></div>

    <div class="main-content">

        <div th:replace="admin/common/header :: common-header"></div>

        <hr/>

        <div th:replace="admin/member/script::member-breadcrumb"></div>

        <!--Message area-->
        <div class="row" id="messageArea"></div>

        <!--Include tab-->
        <div th:replace="admin/member/script::detail-tab"></div>

        <form role="form" id="frmAddPost" action="/api/post" method="post" class="form-groups-bordered">
            <div class="col-md-9">
                <div class="form-group col-md-6">
                    <div role="tabpanel" class="tab-pane active" id="accountNumber">
                        <table class="table table-striped" id="tableContent">
                            <thead>
                                <tr class="dataFields">
                                    <th>#</th>
                                    <th fields="number">Số tài khoản</th>
                                    <th fields="numberAccountType.name">Loại tài khoản</th>
                                    <th fields="enabled">Kích hoạt</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary btnActiveAccount"
                            th:text="#{admin.member.button.active.text}"></button>
                    <button type="button" class="btn btn-danger btnInactiveAccount"
                            th:text="#{admin.member.button.inactive.text}"></button>
                </div>
            </div>
        </form>
        <div class="clearfix"></div>
        <!-- Footer -->
        <footer class="main">
            &copy; 2014 <strong>Neon</strong> Admin Theme by <a href="http://laborator.co" target="_blank">Laborator</a>
        </footer>
    </div>

</div>
<div th:replace="admin/common/header :: common-before-scripts"></div>
<script th:inline="javascript" type="text/javascript">
    //<![CDATA[
    jQuery(document).ready(function ($) {
        var userId = /*[[${#authorization.getAuthentication().getPrincipal().id}]]*/;
        var memberId = /*[[${memberId}]]*/;


        var url = /*[[@{/api/number-account/by-user}]]*/;
        url += "/" + memberId;

        getData(url, showNumberAccountToTable);


        function showNumberAccountToTable(data) {
            var accountNumber = $('#accountNumber tbody');
            accountNumber.html('');
            fieldData(data, null);
        }

        $('.btnActiveAccount').click(function () {
            changeStatusNumberAccount(true);
        });

        $('.btnInactiveAccount').click(function () {
            changeStatusNumberAccount(false);
        });

        /**
         * Change status
         */
        function changeStatusNumberAccount(status = true) {
            var urlActive = /*[[@{/api/number-account/change-status/}]]*/;
            var ids = getIdsCheckedTable('tableContent');
            console.log(ids);
            if (ids.length > 0) {
                urlActive += "?ids=" + ids;
                urlActive += "&status=" + status;
                getData(urlActive, changeSuccess, showErrors);

            }
        }

        /**
         * Reload page after change status success
         * @param data
         */
        function changeSuccess(data) {
            if(data > 0)
                window.location.reload();
        }

    });
    //]]>
</script>
</body>
</html>