<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/common/header :: common-head"/>
<meta title="description" content="Trang quản trị SmartLott"/>
<!--<meta id="_csrf" title="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" title="_csrf_header" th:content="${_csrf.headerName}"/>-->
<body>
<div class="page-container">
    <!--INCLUDE SIDEBAR-->
    <div th:replace="admin/common/navbar :: common-sidebar"></div>

    <div class="main-content">

        <div th:replace="admin/common/header :: common-header"></div>

        <hr/>

        <ol class="breadcrumb bc-3">
            <li>
                <a th:href="@{/stl-admin}"><i class="entypo-home"></i>Dashboard</a>
            </li>
            <li class="active">
                <strong>Member management</strong>
            </li>
        </ol>

        <h2>Member management</h2>
        <!--Message area-->
        <div class="row" id="messageArea"></div>
        <div class="row">
            <div class="form-group col-md-4 col-xs-12">

            </div>
            <form id="searchMember" method="GET">
                <div class="form-group col-md-4 col-xs-12 navbar-right">
                    <input type="text" id="query" name="query" class="form-control" placeholder="Search member"
                           th:value="${query}"/>
                </div>
            </form>
        </div>

        <div class="row">
            <table class="table responsive" id="tableContent">
                <thead>
                <tr class="dataFields">
                    <th><input type="checkbox" id="selectAll" attr="tableContent" name="selectAll" th:value="1"/></th>
                    <th th:text="#{admin.member.username.text}" fields="username">Username</th>
                    <th th:text="#{admin.member.email.text}" fields="email">Email</th>
                    <th th:text="#{admin.member.cash.text}" fields="userCashes.0.value">Cash</th>
                    <th th:text="#{admin.member.cash.investment.text}" fields="userCashes.1.value">Cash investment</th>
                    <th th:text="#{admin.member.cash.trading.text}" fields="userCashes.2.value">Cash trading</th>
                    <th th:text="#{admin.member.actived.text}" fields="actived">Actived</th>
                    <th th:text="#{admin.member.enable.text}" fields="enabled">Enabled</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="navigaion">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                    </ul>
                </nav>
            </div>
            <a th:href="@{/stl-admin/member/add}" class="btn btn-primary">
                <i class="entypo-plus"></i>
                <span th:text="#{admin.member.button.add.text}">Add</span>
            </a>
        </div>

        <!-- Footer -->
        <footer class="main">
            &copy; 2014 <strong>Neon</strong> Admin Theme by <a href="http://laborator.co" target="_blank">Laborator</a>
        </footer>
    </div>

</div>
<div th:replace="admin/common/header :: common-before-scripts"></div>
<script th:inline="javascript" type="text/javascript">
    jQuery(document).ready(function ($) {
        var urlApiMemberAll = /*[[@{/api/member/all}]]*/;
        var urlMember = /*[[@{/stl-admin/member/all}]]*/;
        var urlMemberSearch = /*[[@{/api/user/search/member}]]*/;

        //set value to category selectbox
        var status = /*[[${status}]]*/;
        var query = /*[[${query}]]*/;

        //filter by categories
        $('#status').change(function () {
            doSearchMember(urlMemberSearch, $('#status').val(), $('#query').val(), appendData);
        });

        $('#searchMember').submit(function (e) {
            e.preventDefault();
            doSearchMember(urlMemberSearch, $('#status').val(), $('#query').val(), appendData);
        })

        //do action
        doActionPost();

        getData(urlApiMemberAll, appendData, showErrors);

    });

    function doActionPost() {
        $('#actionPost').submit(function (e) {
            e.preventDefault();
            var msgConfirmDelete = /*[[#{admin.post.delete.confirm.text}]]*/;
            var msgConfirmChangeStatus = /*[[#{admin.post.change.status.confirm.text}]]*/;
            var msgErrorSizeZero = /*[[#{admin.post.action.size.zero.text}]]*/;

            var action = $('#action').val();

            var data = [];
            //do nothing
            if (action == -1)
                return;
            //gets all checked
            var sizeData = 0;
            $('input[name=_id]:checked', '#tableContent').each(function (index, _id) {
                data[index] = _id.value;
                sizeData++;
            });

            //checks data equals zero to return nothing
            if (0 >= sizeData) {
                alert(msgErrorSizeZero);
                return;
            }

            //action delete
            if (action == 1) {
                if (confirm(msgConfirmDelete))
                    deletePosts(data);
            } else {
                //change status of posts
                if (confirm(msgConfirmChangeStatus)) {
                    //status publish
                    var status = true;
                    //status unpublish
                    if (action == 3)
                        status = false;
                    //do change status
                    changeStatus(data, status);
                }
            }
        });
    }


    /**
     * Deletes datas
     * @param data
     */
    function changeStatus(data, status=true) {
        var urlChangeStatusPost = /*[[@{/api/post/change-status/}]]*/;
        urlChangeStatusPost += status;
        saveOrupdateData(urlChangeStatusPost, 'PUT', data, showSuccessAction, showErrors);
    }

    function appendData(data) {

        var urlEdit = /*[[@{/stl-admin/member/edit/}]]*/;
        var area = $('#tableContent tbody');
        var extendParamUrl = "?tab=General";
        area.html('');
        if (data.data != null) {
            showMessages(data.messages);
            data = data.data;
        }
        fieldData(data, urlEdit, extendParamUrl);

        /*_str+='<td>';
         _str+= '<a href="'+urlEdit+'" title="edit"><i class="fa fa-pencil-square" aria-hidden="true"></i></a> ';
         _str+= '<a href="'+urlDel+'" title="delete"><i class="fa fa-trash" aria-hidden="true"></i></a>';
         _str+='</td>';*/

    }

</script>
</body>
</html>