<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/common/header :: common-head"/>
<meta title="description" content="Trang quản trị SmartLott"/>
<!--<meta id="_csrf" title="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" title="_csrf_header" th:content="${_csrf.headerName}"/>-->
<body>

<div class="page-container">
    <!--INCLUDE SIDEBAR-->
    <div th:replace="admin/common/navbar :: common-sidebar"></div>

    <div class="main-content">

        <div th:replace="admin/common/header :: common-header"></div>

        <hr/>

        <div th:replace="admin/reward/script :: breadcrumb"></div>

        <!--Message area-->
        <div class="row" id="messageArea">
        </div>
        <form role="form" id="frmDetailReward" method="post" class="form-groups-bordered">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label for="id" th:text="#{admin.reward.id.text}">ID</label>
                            <input type="text" id="id" name="id" class="form-control" readonly="readonly"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label for="name" th:text="#{admin.reward.name.text}">Names</label>
                            <input type="text" id="name" name="name" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label for="value" th:text="#{admin.reward.value.text}">Value</label>
                            <input type="text" id="value" name="value" class="form-control" th:value="0"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label for="jackpots" th:text="#{admin.reward.is.jackpots.text}">Level
                                network</label>
                            <div>
                                <label><input type="radio" name="jackpots" id="jackpots" value="true"/> Yes</label>
                                <label><input type="radio" name="jackpots" id="jackpots" value="false" checked="checked"/> No</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label for="defaultNumericReward" th:text="#{admin.reward.default.numberal.reward.text}">defaultNumbericReward</label>
                            <input type="text" name="defaultNumericReward" id="defaultNumericReward"
                                   class="form-control" th:value="0"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label for="coupleNumber"
                                   th:text="#{admin.reward.couple.number.text}">Couple number</label>
                            <input type="text" id="coupleNumber" name="coupleNumber" class="form-control"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label for="accumulation"
                                   th:text="#{admin.reward.accumulation.text}">Accumulation</label>
                            <div>
                                <label><input type="radio" id="accumulation" name="accumulation" value="true"/>
                                    Yes</label>
                                <label><input type="radio" id="accumulation" name="accumulation" value="false" checked="checked"/>
                                    No</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label for="enabled"
                                   th:text="#{admin.reward.enabled.text}">Status</label>
                            <div>
                                <label><input type="radio" id="enabled" name="enabled" value="true" checked="checked"/>
                                    Yes</label>
                                <label><input type="radio" id="enabled" name="enabled" value="false"/>
                                    No</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" id="extraRow">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group align-right handleButton">

                </div>
            </div>
        </form>

        <div class="clearfix"></div>
        <!-- Footer -->
        <footer class="main">
            &copy; 2014 <strong>Neon</strong> Admin Theme by <a href="http://laborator.co" target="_blank">Laborator</a>
        </footer>
    </div>

</div>
<div th:replace="admin/common/header :: common-before-scripts"></div>
<script th:src="@{/js/formValidation.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/admin/js/fileinput.js}"></script>
<div th:include="/admin/reward/script :: detail-load"></div>
<script th:inline="javascript" type="application/javascript">
    jQuery(document).ready(function ($) {

        var urlInvPackageMN = /*[[@{/stl-admin/reward/all}]]*/;
        var msgErrorName =/*[[#{admin.reward.name.not.null.text}]]*/;
        var msgErrorValue =/*[[#{admin.reward.value.greater.than.text}]]*/;
        var msgErrorDefaultReward =/*[[#{admin.reward.default.numeric.reward.greater.than.text}]]*/;
        var msgErrorCoupleNumber =/*[[#{admin.reward.couple.number.greater.than.text}]]*/;
        var msgNotNull =/*[[#{admin.reward.input.not.null.text}]]*/;
        var msgConfirmDelete=/*[[#{admin.reward.confirm.delete.text}]]*/;
        $('#frmDetailReward').formValidation({
            framework: 'bootstrap',
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                name: {
                    validators: {
                        notEmpty: {
                            message: msgErrorName
                        }
                    }
                },
                value: {
                    validators: {
                        notEmpty: {
                            message: msgNotNull
                        },
                        greaterThan: {
                            value: 0,
                            message: msgErrorValue
                        }
                    }
                },
                defaultNumericReward: {
                    validators: {
                        notEmpty: {
                            message: msgNotNull
                        },
                        greaterThan : {
                            value: -1,
                            message: msgErrorDefaultReward
                        }
                    }
                },
                coupleNumber: {
                    validators: {
                        notEmpty: {
                            message: msgNotNull
                        },
                        greaterThan: {
                            value: 0,
                            message: msgErrorCoupleNumber
                        }
                    }
                }
            }
        }).on('success.form.fv', function (e) {
            e.preventDefault();

            var data = {};
            $("#frmDetailReward :input, #frmDetailReward select").each(function () {
                if (this.type == "radio")
                    data[this.name] = $('input:radio[name="' + this.name + '"]:checked').val();
                else
                    data[this.name] = this.value;
            })
            var urlSaveReward = /*[[@{/api/reward/{id}(id=${rewardId})}]]*/;
            var type = (id == null) ? 'POST' : 'PUT';
            saveOrupdateData(urlSaveReward, type, data, saveSuccess, showErrors);
        });

        $(document).on('click', '#btnSave', function () {
            $('#frmDetailReward').submit();
        });

        $(document).on('click', '#btnEnabled', function () {
            var urlChangeStatus = /*[[@{/api/reward/change-status/{id}/true(id=${rewardId})}]]*/;
            getData(urlChangeStatus, showChangeStatusSuccess, showErrors);
        });

        $(document).on('click', '#btnDisabled', function () {
            var urlChangeStatus = /*[[@{/api/reward/change-status/{id}/false(id=${rewardId})}]]*/;
            getData(urlChangeStatus, showChangeStatusSuccess, showErrors);
        });

        $(document).on('click', '#btnDelete', function () {
            if (confirm(msgConfirmDelete)) {
                var urlDelete = /*[[@{/api/reward/{id}(id=${rewardId})}]]*/;
                saveOrupdateData(urlDelete, 'DELETE', null, showDeleteSuccessPackage, showErrors);
            }
        })

        function showDeleteSuccessPackage(data) {
            showMessages(data);
            setTimeout(function () {
                //window.location.href = urlInvPackageMN;
            }, 500);
        }

        function saveSuccess(data) {
            console.log(data);
            if (data.messages != null)
                showMessages(data.messages);
            setTimeout(function () {
                window.location.href = urlInvPackageMN;
            }, 500);
        }

        function showChangeStatusSuccess(data) {
            showMessages(data);
            setTimeout(function () {
                window.location.reload();
            }, 500);
        }


    });
</script>
</body>
</html>