<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/common/header :: common-head"/>
<meta title="description" content="Trang quản trị SmartLott"/>
<!--<meta id="_csrf" title="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" title="_csrf_header" th:content="${_csrf.headerName}"/>-->
<body>

<div class="page-container">
    <!--INCLUDE SIDEBAR-->
    <div th:replace="admin/common/navbar :: common-sidebar"></div>

    <div class="main-content">

        <div th:replace="admin/common/header :: common-header"></div>

        <hr/>

        <div th:replace="admin/investmentPackage/script :: breadcrumb"></div>

        <!--Message area-->
        <div class="row" id="messageArea">
        </div>
        <form role="form" id="frmDetailPackage" method="post" class="form-groups-bordered">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label for="id" th:text="#{admin.investment.package.id.text}">ID</label>
                            <input type="text" id="id" name="id" class="form-control" readonly="readonly"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label for="name" th:text="#{admin.investment.package.name.text}">Names</label>
                            <input type="text" id="name" name="name" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label for="price" th:text="#{admin.investment.package.price.text}">Price</label>
                            <input type="text" id="price" name="price" class="form-control" th:value="0"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label for="levelNetwork" th:text="#{admin.investment.package.level.network.text}">Level
                                network</label>
                            <select class="form-control" id="levelNetwork" name="levelNetwork">

                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label for="limitTime" th:text="#{admin.investment.package.limit.time.text}">Limit
                                time</label>
                            <div class="limitTime">
                                <label><input id="limitTime" type="radio" name="limitTime" th:value="true"
                                              checked="checked"/>Limit</label>
                                <label><input id="limitTime" type="radio" th:value="false" name="limitTime"/>
                                    Unlimit</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label for="durationTime"
                                   th:text="#{admin.investment.package.duration.text}">Duration</label>
                            <input type="text" id="durationTime" name="durationTime" class="form-control" th:value="0"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label for="parent"
                                   th:text="#{admin.investment.package.requirement.text}">Requirement</label>
                            <input type="text" id="parent" name="parent" class="form-control" th:value="0"/>
                        </div>
                    </div>
                </div>
                <div class="row" id="extraRow">
                </div>

                <!-- Include field detail handle -->
                <div th:if="${action == 'handle'}" th:include="admin/transaction/script :: detail-handle"></div>

            </div>
            <div class="col-md-3">
                <div class="form-group align-right handleButton">

                </div>
            </div>
        </form>

        <!-- Include perfect money handle -->
        <div th:if="${action == 'handle'}" th:include="admin/transaction/script :: detail-handle-perfect-money"></div>

        <div class="clearfix"></div>
        <!-- Footer -->
        <footer class="main">
            &copy; 2014 <strong>Neon</strong> Admin Theme by <a href="http://laborator.co" target="_blank">Laborator</a>
        </footer>
    </div>

</div>
<div th:replace="admin/common/header :: common-before-scripts"></div>
<script th:src="@{/js/formValidation.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/admin/js/fileinput.js}"></script>
<div th:include="/admin/investmentPackage/script :: detail-load"></div>
<script th:inline="javascript" type="application/javascript">
    jQuery(document).ready(function ($) {

        showOptionSelect(7, 'levelNetwork');
        var urlInvPackageMN = /*[[@{/stl-admin/investment-package/all}]]*/;
        var msgErrorName =/*[[#{admin.investment.package.name.not.null.text}]]*/;
        var msgErrorPrice =/*[[#{admin.investment.package.price.greater.than.text}]]*/;
        var msgErrorLevelNetwork =/*[[#{admin.investment.package.level.network.greater.than.text}]]*/;
        var msgErrorDurationTime =/*[[#{admin.investment.package.duration.time.greater.than.text}]]*/;
        var msgErrorRequirement =/*[[#{admin.investment.package.requirement.greater.than.text}]]*/;
        var msgNotNull =/*[[#{admin.investment.package.input.not.null.text}]]*/;
        var msgConfirmDelete =/*[[#{admin.investment.package.confirm.delete.text}]]*/;

        $('#frmDetailPackage').formValidation({
            framework: 'bootstrap',
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                name: {
                    validators: {
                        notEmpty: {
                            message: msgErrorName
                        }
                    }
                },
                price: {
                    validators: {
                        notEmpty: {
                            message: msgNotNull
                        },
                        greaterThan: {
                            value: 0,
                            message: msgErrorPrice
                        }
                    }
                },
                levelNetwork: {
                    validators: {
                        notEmpty: {
                            message: msgNotNull
                        },
                        greaterThan: {
                            value: 0,
                            message: msgErrorLevelNetwork
                        }
                    }
                },
                limitTime: {
                    validators: {
                        notEmpty: {
                            message: msgNotNull
                        }
                    }
                },
                durationTime: {
                    validators: {
                        notEmpty: {
                            message: msgNotNull
                        },
                        greaterThan: {
                            value: 0,
                            message: msgErrorDurationTime
                        }
                    }
                },
                parent: {
                    validators: {
                        notEmpty: {
                            message: msgNotNull
                        },
                        greaterThan: {
                            value: 0,
                            message: msgErrorRequirement
                        }
                    }
                },

            }
        }).on('click', '[name="limitTime"]', function (e) {
            var isLimitTime = $('input[name="limitTime"]:checked').val();

            var fv = $('#frmDetailPackage').data('formValidation');
            if (isLimitTime == 'true') {

                fv.enableFieldValidators('durationTime', true).revalidateField('durationTime');
            }
            else {
                console.log(isLimitTime);
                fv.enableFieldValidators('durationTime', false).revalidateField('durationTime');
            }
        }).on('success.form.fv', function (e) {
            e.preventDefault();

            var data = {};
            $("#frmDetailPackage :input, #frmDetailPackage select").each(function () {
                if (this.type == "radio")
                    data[this.name] = $('input:radio[name="' + this.name + '"]:checked').val();
                else
                    data[this.name] = this.value;
            })
            var urlSavePackage = /*[[@{/api/investment-package/{id}(id=${investmentPackageId})}]]*/;
            var type = (id == null) ? 'POST' : 'PUT';
            saveOrupdateData(urlSavePackage, type, data, saveSuccess, showErrors);
        });

        $(document).on('click', '#btnSavePackage', function () {
            $('#frmDetailPackage').submit();
        });

        $(document).on('click', '#btnEnabledPackage', function () {
            var urlChangeStatus = /*[[@{/api/investment-package/change-status/{id}/true(id=${investmentPackageId})}]]*/;
            getData(urlChangeStatus, showChangeStatusSuccess, showErrors);
        });

        $(document).on('click', '#btnDisabledPackage', function () {
            var urlChangeStatus = /*[[@{/api/investment-package/change-status/{id}/false(id=${investmentPackageId})}]]*/;
            getData(urlChangeStatus, showChangeStatusSuccess, showErrors);
        });

        $(document).on('click', '#btnDeletePackage', function () {
            if (confirm(msgConfirmDelete)) {
                var urlDelete = /*[[@{/api/investment-package/{id}(id=${investmentPackageId})}]]*/;
                saveOrupdateData(urlDelete, 'DELETE', null, showDeleteSuccessPackage, showErrors);
            }
        })

        function showDeleteSuccessPackage(data) {
            showMessages(data);
            console.log(data);
            setTimeout(function () {
                window.location.href = urlInvPackageMN;
             },500);
        }

        function saveSuccess(data) {

            if (data.messages != null)
                showMessages(data.messages);
            setTimeout(function () {
                window.location.href = urlInvPackageMN;
            },500);
        }

        function showChangeStatusSuccess(data) {
            showMessages(data);
            setTimeout(function () {
                window.location.reload();
            },500);
        }
    });
</script>
</body>
</html>