<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: common-head">

</head>

<body>
<!-- main container-->
<div class="container">

    <!-- include fragment top-menu-->
    <div th:replace="common/header :: common-top-menu"/>

    <!-- INCLUDE FRAGMENT HEADER -->
    <div th:replace="common/header :: common-header"/>
    <div class="container">
        <div class=" category">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/login}" th:text="#{breadcrumb.home.text}">Trang chủ</a></li>
                <li class="breadcrumb-item"><a th:href="@{/checkout/{checkoutId}(checkoutId=${checkoutId})}" th:text="#{breadcrumb.lottery.checkout.text}">Checkout</a></li>
                <li class="breadcrumb-item active" th:text="#{breadcrumb.lottery.checkout.perfectmoney.text}">Perfect Money</li>
            </ol>
            <div class="content">
                <div class="row" id="messageArea">

                </div>
                <div class="row col-md-6" id="checkoutDetail">
                    <h2><span th:text="#{order.title.text}"></span>#<span id="orderNumber"></span></h2>
                    <hr/>
                    <p th:text="#{order.detail.title.text}"></p>
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td>Order</td>
                                    <td>Code</td>
                                    <td>String</td>
                                    <td>Price</td>
                                </tr>
                            </thead>
                            <tbody id="orderDetail">

                            </tbody>
                        </table>
                        <p><span th:text="#{order.buy.date.text}">Date</span>: <span id="buydate"></span></p>
                        <p><span th:text="#{order.discount.text}">Discount</span>: - $<span id="discount"></span></p>
                        <p><span th:text="#{order.fees.other.text}">Fees other</span>: + $<span id="feesOther"></span></p>
                        <p><span th:text="#{order.status.text}">Status</span>: <span id="statusOrder"></span></p>
                        <hr/>
                        <p class="totalOrder"><b><span th:text="#{order.total.text}">Total</span>:</b> $<span id="totalOrder"></span></p>
                        <form th:if="${checkoutType=='cash'}" id="frmCheckoutCash" method="post" th:action="@{/api/checkout/cash}">
                            <div class="form-group col-md-6">
                                <label th:text="#{order.transaction.code.text}"></label>
                                <input type="text" id="securityToken" name="securityToken" class="form-control" data-fv-field="securityToken"/>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <button class="btn btn-primary" th:text="#{order.confirm.button.text}"></button>
                                <button type="button" class="btn btn-warning" th:text="#{order.resend.security.token.text}">Resend</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--FEATURED NEWS-->
    <div th:replace="common/include :: common-featured-news"/>

    <!-- ACCEPTED PAYMENT -->
    <div th:replace="common/include :: common-accepted-payment"/>


    <!-- FOOTER -->
    <div th:replace="common/footer :: common-footer"/>
</div> <!-- end main container-->
<!-- Boostrap core Javascript -->
<div th:replace="common/header :: common-before-scripts"/>
<script th:src="@{/js/moment.min.js}"></script>
<script th:src="@{/sources/moment-timezone.js}"></script>
<script th:src="@{/sources/jquery.countdown-2.2.0/jquery.countdown.min.js}"></script>
<script th:src="@{/js/gluck-functions.js}"></script>
<script th:src="@{/js/gluck.js}"></script>
<script th:inline="javascript" type="application/javascript">
    jQuery(document).ready(function ($) {
        //get message
        var messages = /*[[${messages}]]*/;
        console.log(messages);
        if(messages != null)
            showMessages(messages);

        var urlGetTransaction = /*[[@{/api/transaction/{transactionId}(transactionId=${checkoutId})}]]*/;

        getData(urlGetTransaction, showTransactionInfo, showCheckoutErrors);

        var urlNumberAccountType = /*[[@{/api/number-account-type}]]*/;

        $('#frmCheckoutCash').submit(function (e) {
            e.preventDefault();
            var urlCheckoutCash = $(this).attr('action');
            console.log(urlCheckoutCash);
            var transactionId = /*[[${checkoutId}]]*/;
            var data = {};
            data['id'] = transactionId;
            data['securityToken'] = $('#securityToken').val();

            saveOrupdateData(urlCheckoutCash, 'POST',data, showCheckoutCashSuccess);
        });
    });
    
    function showCheckoutCashSuccess(data) {
        showSuccess(data);
        //clear content form cash checkout
        $('#frmCheckoutCash').html('');
    }
    
    function showTransactionInfo(data) {
        data = data.content;
        console.log(data);
        $('#orderNumber').html(data.id);
        var lotteryDetails = data.lotteryDetails;
        var orderDetail = $('#orderDetail');
        $.each(lotteryDetails, function (index, lottery) {
            var strNumberLottery = lottery.lottery.coupleOne + '-' + lottery.lottery.coupleTwo
                +'-'+lottery.lottery.coupleThree+'-'+lottery.lottery.coupleFour
                +'-'+lottery.lottery.coupleFive+'-'+lottery.lottery.coupleSix;
            var price = lottery.lottery.lotteryType.price;
            strRow = '<tr>';
            strRow+='<td>'+(index+1)+'</td>';
            strRow+='<td>#'+(lottery.id)+'</td>';
            strRow+='<td>'+strNumberLottery+'</td>';
            strRow+='<td class="text-right">$'+price+'</td>';
            strRow+='</tr>';
            orderDetail.append(strRow);
        });
        var msgProvisional = /*[[#{order.provisional.price.text}]]*/;
        //total
        strTotal = '<tr>';
        strTotal += '<td colspan="3" class="text-center" >'+msgProvisional+'</td>';
        strTotal += '<td class="text-right">';
        strTotal += '$'+data.amount;
        strTotal += '</td>';
        strTotal += '</tr>';
        orderDetail.append(strTotal);
        $('#buydate').html(data.createdDate);
        $('#discount').html(0);
        $('#feesOther').html(0);
        $('#statusOrder').html(data.transactionStatus.name);
        $('#totalOrder').html(data.amount);

    }

    function showCheckoutErrors(data) {
        showMessages(data);
    }

</script>
</body>
</html>