<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: common-head">

</head>

<body>
<!-- main container-->
<div class="container">

    <!-- include fragment top-menu-->
    <div th:replace="common/header :: common-top-menu"/>

    <!-- INCLUDE FRAGMENT HEADER -->
    <div th:replace="common/header :: common-header"/>
    <div class="container">
        <div class=" category">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/login}" th:text="#{breadcrumb.home.text}">Trang chủ</a></li>
                <li class="breadcrumb-item active" th:text="#{breadcrumb.lottery.checkout.text}">Checkout</li>
            </ol>
            <div class="content">
                <div class="row" id="messageArea">

                </div>
                <div class="row col-md-6" id="checkoutDetail">
                    <h2><span th:text="#{order.buy.investment.package.title.text}"></span> #<span id="orderNumber"></span></h2>
                    <hr/>
                    <p th:text="#{order.detail.title.text}"></p>
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td th:text="#{order.detail.order.text}"></td>
                                    <td th:text="#{order.detail.name.text}">Name</td>
                                    <td th:text="#{order.detail.duration.text}">Duration</td>
                                    <td th:text="#{order.detail.price.text}">Price</td>
                                </tr>
                            </thead>
                            <tbody id="orderDetail">

                            </tbody>
                        </table>
                        <p><span th:text="#{order.buy.date.text}">Date</span>: <span id="buydate"></span></p>
                        <p><span th:text="#{order.discount.text}">Discount</span>: - $<span id="discount"></span></p>
                        <p><span th:text="#{order.fees.other.text}">Fees other</span>: + $<span id="feesOther"></span></p>
                        <p><span th:text="#{order.status.text}">Status</span>: <span id="statusOrder"></span></p>
                        <hr/>
                        <p class="totalOrder"><b><span th:text="#{order.total.text}">Total</span>:</b> $<span id="totalOrder"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--FEATURED NEWS-->
    <div th:replace="common/include :: common-featured-news"/>

    <!-- ACCEPTED PAYMENT -->
    <div th:replace="common/include :: common-accepted-payment"/>


    <!-- FOOTER -->
    <div th:replace="common/footer :: common-footer"/>
</div> <!-- end main container-->

<!-- Boostrap core Javascript -->
<div th:replace="common/header :: common-before-scripts"/>
<script th:src="@{/js/formValidation.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/gluck-functions.js}"></script>
<script th:src="@{/js/gluck.js}"></script>
<script th:inline="javascript" type="application/javascript">
    jQuery(document).ready(function ($) {
        var urlGetTransaction = /*[[@{/api/transaction/{transactionId}(transactionId=${checkoutId})}]]*/;

        //get message
        var messages = /*[[${messages}]]*/;

        if(messages != null)
            showMessages(messages);

        getData(urlGetTransaction, showTransactionInfo, showCheckoutErrors);

    });
    
    function showTransactionInfo(data) {
        var messages = data.messages;
        console.log(messages);
        if(messages.length>0){
            showMessages(messages);
            $('#frmCheckoutOrder').html('');
        }else {
            var urlNumberAccountType = /*[[@{/api/number-account-type}]]*/;

            //get data number account type
            getData(urlNumberAccountType, showNumberAccountType);
        }


        data = data.content;

        $('#orderNumber').html(data.id);

        var investmentPackages = data.investmentPackages;

        var orderDetail = $('#orderDetail');
        
        $.each(investmentPackages, function (index, package) {

            strRow = '<tr>';
            strRow+='<td>'+(index+1)+'</td>';
            strRow+='<td>'+ package.name +'</td>';
            strRow+='<td>'+ package.durationTime +'</td>';
            strRow+='<td class="text-right">$'+ package.price +'</td>';
            strRow+='</tr>';
            orderDetail.append(strRow);
        });

        //total
        strTotal = '<tr>';
        strTotal += '<td colspan="3" class="text-center" th:text="#{order.provisional.price.text}">Provisional price</td>';
        strTotal += '<td class="text-right">';
        strTotal += '$'+data.amount;
        strTotal += '</td>';
        strTotal += '</tr>';
        orderDetail.append(strTotal);
        $('#buydate').html(data.createdDate);
        $('#discount').html(0);
        $('#feesOther').html(0);
        $('#totalOrder').html(data.amount);
        $('#statusOrder').html(data.transactionStatus.name);

        //set data for perfect money form
        $('#paymentAmount').val(data.amount);
        $('#orderNum').val(data.id);
        $('#custNum').val(data.ofUser.id);
    }

    function showCheckoutErrors(data) {
        showMessages(data);
        $('#checkoutDetail').html('');
    }


</script>
</body>
</html>